@font-face {
    font-family: Hacked;
    src: url(https://hackedfont.com/HACKED.ttf);
}
* {
    box-sizing: border-box;
    font-family: Hacked;
  }
  
  .row {
    display: flex;
    padding:5px 
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 5px;
    text-align: center;
    font-size:175% /* Should be removed. Only for demonstration */
  }
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #ffffff
    }

    .topnav {
      display: flex;
      flex-wrap: wrap;
      position:fixed;
      width: 100%;
      justify-content: center;
      background-color: #333;
      white-space: nowrap;
    }
    
    .topnav a {
      color: white;
      padding: 14px;
      text-align: center;
      text-decoration: none;
      font-size: 150%;
      flex: 1 1 100%; /* Stack items vertically on small screens */
    }
  
    .topnav a:hover {
      background-color: #575757;
    }
    
    .topnav a.active {
      background-color: #4CAF50;
    }
  
    /* Responsive adjustments for mobile */
    @media (min-width: 600px) {
      .topnav a {
        flex: 1; /* Horizontal layout on larger screens */
      }
    }
    .button1 {
      background-color: white;
      font-size: 25px;
      color: rgb(0, 0, 0);
      border: 7px solid #00925d;
    }
    
    .button1:hover {
      background-color: #00925d;
      color: rgb(0, 0, 0);
    }
    :root {
      color-scheme: only light;
    }